doctype html
html
  head
    meta(charset='utf-8')
    title Bezier test
    script(src='js/bezier.js')
    script(src='js/index.js')
    link(rel='stylesheet', href='css/style.css')
  body
    canvas#mycanvas(width='1100' height='500')
