doctype html
html
  head
    meta(charset='utf-8')
    title Learning three.js
    //- link(rel='stylesheet', href='css/style.css')
  body
    canvas
    script(src='js/CanvasRenderer.js')
    script(src='js/three.min.js')
    script(src='js/index.js')
